# Angular / Node
/node_modules
/dist
/.angular
/tmp
/out-tsc
/bazel-out

# Logs
npm-debug.log
yarn-error.log

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.sublime-workspace

# Env / secrets
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Testing
/coverage
/.nyc_output

# Misc
*.tsbuildinfo
