/* You can add global styles to this file, and also import other style files */

@use 'assets/styles/tokens/colors.css';
@use 'assets/styles/tokens/typography.css';
@use 'assets/styles/tokens/spacing.css';
@use 'assets/styles/tokens/borders.css';
@use 'assets/styles/tokens/motion.css';
@use 'assets/styles/tokens/fonts.css';
@use 'assets/styles/components';

html,
body {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: var(--font-body);
  color: var(--text-body);
  background: var(--surface-base);
}
